{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block header %}
    <link href="/static/brainteaser/css/brainteaser.css" rel="stylesheet">
    <script src="/static/brainteaser/js/brainteaser.js"></script>
        <script type="text/javascript">
    $(function() {
        $("#dialog-help").dialog({
                                  autoOpen: false,
                                  modal:true,
                                  show: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  hide: {
                                    effect: "blind",
                                    duration: 1000,

                                  }
                                });




        $("#dialog-timeup").dialog({
                                  autoOpen: false,
                                  modal:true,
                                  show: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  hide: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  close:startGame,
                                });

        $("#dialog-wrongpressed").dialog({
                                  autoOpen: false,
                                  modal:true,
                                  show: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  hide: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  close:startGame,
                                });

        $("#dialog-congrats").dialog({
                                  autoOpen: false,
                                  modal:true,
                                  show: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  hide: {
                                    effect: "blind",
                                    duration: 1000
                                  },
                                  close:nextLevel,
                                });

                                $("#help_button").click(function() {
                                  $( "#dialog-help" ).dialog( "open" );
                                });

                                $("#game").hide();
                            });


    </script>

{% endblock %}

{% block body %}
            <div class="page-header">
                <h2 class="text-muted">Pattern Brain Teaser</h2>
            </div>

            <div class="btn-group-horizontal">

                <button type="button" class="btn btn-success" onclick="startGame();">
                    Start/Restart
                </button>

                <button type="button" class="btn btn-primary">
                    Print
                </button>
                 <button id="help_button" type="button" class="btn btn-primary">
                    Help
                </button>

                <button  type="button" class="btn btn-default">
                        Timer
                    </button>

                    <button id="timer" type="button" class="btn btn-danger">
                        0
                    </button>
            </div>

            <br>
            <div id="help" title="Help" style="width:400px;">
                <p>Brainteaser Game: Remember the position of color balls
                 and find them. Game has 7 levels starting with 9 box grid
                 and ends at 81 box grid.
                  (for queries contact at viikasgarg@gmail.com)
                </p>
            </div>

            <div id="dialog-help" title="Help" >
                <p>Brainteaser Game: Remember the position of color balls
                 and find them. Game has 7 levels starting with 9 box grid
                 and ends at 81 box grid.
                  (for queries contact at viikasgarg@gmail.com)
                </p>
            </div>

            <div id="dialog-timeup" title="Time Up" >
                <p>Time Up for the puzzle. The Game will be restarted.
                </p>
            </div>

            <div id="dialog-wrongpressed" title="Wrong Pressed" >
                <p>You have Pressed the Wrong Button. The Game will be restarted.
                </p>
            </div>

            <div id="dialog-congrats" title="Congratulations" >
                <p>Congratulations,Close this dialog and Go for next Level :).
                </p>
            </div>

            <div id="game">
                <div id="game-object" style="width:400px;height:400px;">

                </div>
                <br>
                 <div>
                 <button type="button" class="btn btn-default">
                        Level
                    </button>

                    <button id="level" type="button" class="btn btn-inverse">
                        1
                    </button>

                    <button  type="button" class="btn btn-default">
                        Score
                    </button>

                    <button id="score" type="button" class="btn btn-info">
                        0
                    </button>



                </div>
            </div>
{% endblock %}
