{% extends "base.html" %}
    {% block header %}
    <script>
    $(function() {
          $( "#signup-form" ).dialog({
          autoOpen: false,
          height: 300,
          width: 350,
          modal: true,
        });

        $( "#signup_btn" )
              .button()
              .click(function() {
                $( "#signup-form" ).dialog( "open" );
              });

        $( "#login-form" ).dialog({
          autoOpen: false,
          height: 300,
          width: 350,
          modal: true,
        });

        $( "#login_btn" )
            .button()
            .click(function() {
                $( "#login-form" ).dialog( "open" );
            });
        });
        </script>
    {% endblock %}



    {% block body %}



      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Just For Fun!</h1>
        <p class="lead">Just a site having some Intersting brain teasing games and Some Interesting applications</p>
        <p>
            <a id="signup_btn" class="btn btn-lg btn-success" href="#" role="button">Signup</a>
            <a id="login_btn" class="btn btn-lg btn-success" href="#" role="button">Login</a>
        </p>
      </div>
    <div id="signup-form" title="Sign Up">
          <p class="validateTips">All form fields are required.</p>
            {{signup_form}}
    </div>

    <div id="login-form" title="Login">
        {{login_form}}
    </div>

      {% load parabuilder %}{% para top 3 %}
      {% paraheader top %}
  {% endblock %}
